@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Manrope:400,700,600|Playfair+Display:400,700,600,900");

.body-addlesson{
  background-color: #fff;
  box-sizing: border-box;
}


/* .smart-layers-pointers,
.smart-layers-pointers * {
  pointer-events: auto;
  visibility: visible;
} */

.body-addlesson input:focus {
  outline: none;
}

.body-addlesson a, .body-addlesson textarea{
  text-decoration: none;
  color: #262626;
}

.body-addlesson a:active, .body-addlesson textarea:active{
  text-decoration: none;
  color: #262626;
}

.body-addlesson textarea:focus, .body-addlesson input:focus, .body-addlesson .body-addlessonselect:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
}

.body-addlesson button{
  border:none !important;
  background-color: transparent !important;
}

/* FIXME: GLOBALS */


/* TODO: STYLEGUIDE */
:root {
  --black: #000000;
  --black-2: #0000004c;
  --black-3: #00000099;
  --black-4: #00000033;
  --black-5: #000000b2;
  --bunker: #141616;
  --delta: #a3a3a3;
  --masala: #3b3b3bb2;
  --persian-green: #00a692;
  --shark: #262626;
  --white: #ffffff;
  --white-2: #ffffffb2;
  --woodsmoke: #0f0f0f;

  --font-size-l: 18px;
  --font-size-m: 16px;
  --font-size-s: 14px;
  --font-size-xl: 20px;
  --font-size-xs: 13px;
  --font-size-xxl: 28px;
  --font-size-xxs: 12px;

  --font-family-manrope: "Manrope", Helvetica;
  --font-family-playfair_display: "Playfair Display", Helvetica;
}
.playfairdisplay-normal-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.manrope-normal-white-14px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}
.playfairdisplay-normal-black-16px {
  color: var(--black-3);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.playfairdisplay-normal-white-16px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.playfairdisplay-bold-black-16px {
  color: var(--black);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.playfairdisplay-normal-black-12px {
  color: var(--black-5);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.playfairdisplay-bold-shark-18px {
  color: black;
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
.playfairdisplay-black-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 900;
}
.playfairdisplay-bold-white-18px {
  color: var(--white);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 700;
}
.playfairdisplay-normal-black-16px-2 {
  color: var(--black);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.manrope-semi-bold-woodsmoke-14px {
  color: var(--woodsmoke);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 600;
}
.manrope-normal-white-12px {
  color: var(--white-2);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}
.playfairdisplay-normal-delta-16px {
  color: var(--delta);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
.manrope-bold-persian-green-16px {
  color: var(--persian-green);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.playfairdisplay-bold-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-playfair_display);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}
.manrope-bold-white-16px {
  color: var(--white);
  font-family: var(--font-family-manrope);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 700;
}
.border-1px-black-2 {
  border: 1px solid var(--black-2);
}
.border-1px-black-4 {
  border: 1px solid var(--black-4);
}
.border-1px-white {
  border: 1px solid var(--white);
}

/* STYLE PAGE */

  .body-addlesson  .upload-lesson {
    margin: 0px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    /* margin-top: -900px; */
  }

  .body-addlesson .row-lesson{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
    margin-top: -25px;
  }
  
  .body-addlesson .title {
    background-color: transparent;
    color: var(--shark);
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-xxl);
    font-style: normal;
    font-weight: 700;
    height: auto;
    left: calc(50.00% - 516px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    text-align: left;
    top: calc(50.00% - 701px);
    width: auto;
  }
  
  .body-addlesson .name-profile{
    background-color: transparent;
    color: #000000;
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-m);
    font-style: normal;
    font-weight: 400;
    margin-left: 10px !important;
  }
  
  .body-addlesson .upload-lesson .title-profile {
    background-color: transparent;
    height: auto;
    left: calc(50.00% - 515px);
    letter-spacing: 0.00px;
    line-height: normal;
    mix-blend-mode: normal;
    pointer-events: auto;
    text-align: left;
    top: calc(50.00% - 552px);
    transition: all 0.2s ease;
    width: auto;
  }
  
  .body-addlesson .upload-lesson .title-profile:hover {
    transform: scale(1.1);
  }

  .body-addlesson .words-edit{
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: baseline;
      align-content: stretch;
      line-height: 2.5rem;
      text-align: left;
      margin-top: 40px;
      transition: all 0.2s ease;
      color: var(--shark);
      font-family: var(--font-family-playfair_display);
      font-size: var(--font-size-m);
      font-style: normal;
      font-weight: 400;
      width: 350px;
  }

  .body-addlesson .words-edit a:hover{
    transform: scale(1.1);
    color: #262626;
  }

  .body-addlesson .words-edit a:active{
    color:black;
    font-weight: bold;
  }
  
  .body-addlesson .upload-lesson .profile-avatar {
    height: 42px;
    left: calc(50.00% - 516px);
    top: calc(50.00% - 646px);
    width: 42px;
  }

  .body-addlesson .profile{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 20px;
  }
  
  .body-addlesson .profile-img {
    width: 42px;
    border-radius: 100%;
  }
  
  .body-addlesson .upload-lesson .line1 {
    background-color: #525252;
    height: 2px;
    width: 100%;
  }

  .body-addlesson .line2 {
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 60%;
  }

  .body-addlesson .small-form{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
  }

  .body-addlesson #root > div > div.container.pos-form > form > div.row-lesson > div.form-section > div:nth-child(13) > div > div > form > div > div{
    min-width: 745px !important;
    border-style: none;
  }

  .body-addlesson #tags{
    min-width: 700px;
    min-height: 40px;
    width: 100%;
    margin-left: -17px;
    box-sizing: border-box;
  }

  .body-addlesson #tags::placeholder{
    padding-left: 10px;
  }

  .body-addlesson .tags-input{
    min-width: 100%;
  }

  .body-addlesson form .tags-input__wrapper{
    border: none;
    height: auto;
  } 

  .body-addlesson #root > div > div.container.pos-form > form > div.row-lesson > div.form-section > div:nth-child(13) > div > div > form{
    min-width: 745px !important;
    margin-left: -20px;
    margin-top: 10px !important;
    border-style: none;
  }

  .body-addlesson .pos-form .class-form{
    min-width: 1100px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: stretch
  }
  
  .body-addlesson .form-section{
    min-width: 750px;
  }

  .body-addlesson .title-form {
    height: 49px;
    min-width: 750px;
  }
  
  .body-addlesson .rectangle-form {
    border-radius: 8px;
    height: auto;
    min-height: 40px;
    max-width: 750px;
    font-family: var(--font-family-playfair_display);
    padding-left: 10px;
  }
  
  .body-addlesson .rectangle-form input{
    min-height: 35px;
    max-width: 745px;
    border: none;
    color: #262626;
  }

  .body-addlesson .rectangle-form2 {
    border-radius: 8px;
    min-height: 200px;
    max-width: 750px;
    font-family: var(--font-family-playfair_display);
    padding-left: 10px;
    margin-top: 10px;
  }

  .body-addlesson .rectangle-form2 textarea{
    min-height: 200px;
    border: none;
    padding-left: 10px;
    color: #262626;
    padding-top: 5px;
    width: 99%;
  } 

  .body-addlesson .rectangle-form3 {
    border-radius: 8px;
    height: auto;
    min-height: 40px;
    margin-top: 10px;
    max-width: 188px;
    padding-left: 10px;
    font-family: var(--font-family-playfair_display);
  }

  .body-addlesson .rectangle-form3::after{
    border: 1px solid black !important;
    background-color: transparent;
  }

  .body-addlesson .rectangle-form3 > input{
    width: 100%;
    height: 100%;
    border: none;
    color: #262626;
    padding-top: 5px;
  }

  .body-addlesson .rectangle-form3:hover{
    background-color: transparent;
  }

/* button default */
  
  .body-addlesson button:hover {
    transform: scale(1.1);
  }
  
  .body-addlesson .button-class {
    background-color: #00a692 !important;
    border-radius: 6px;
    height: 40px;
    transition: all 0.2s ease;
    width: 240px;
  }
  
  .body-addlesson .upload-lesson .button-class:hover {
    transform: scale(1.1);
  }
  
  .body-addlesson .upload-button {
    background-color: transparent;
    color: #ffffff;
    font-family: var(--font-family-playfair_display);
    font-size: var(--font-size-l);
    font-style: normal;
    font-weight: 700;
    text-align: center;
    padding: 7px;
  }
  
  .body-addlesson .border-1px-black {
    border: 1px solid var(--black);
  }

  .body-addlesson .input-class{
    display: none;
  }

  .body-addlesson .labels-form{
    min-width: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }

  .body-addlesson .labels-form img{
    max-width: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-top: 20px;
  }

  .body-addlesson .labels-form > span{
    background-color: var(--alabaster);
    margin-top: 30px;
    margin-left: 10px;
    max-width: 200px;
    min-height: 40px;
    max-height: 40px !important;
    font-family: var(--font-family-playfair_display);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  .body-addlesson .final-form{
    margin-top: 30px;
    height: 350px;
    max-width: 400px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }

  .body-addlesson .select-class{
      font-family: var(--font-family-playfair_display);
      text-indent: 1px;
      text-overflow: '';
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      color: #3b3b3bb2;
      width: 100%;
  }

  .body-addlesson .select-class:focus, .body-addlesson .select-class:active, .body-addlesson .select-class::after{
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;  
}

  

  
