.body-footer{
    margin: 0; 
    padding: 0;
    background: #262626;
    z-index: 999;
}

.body-footer a{
    text-decoration: none;
    color: white;
}

.body-footer a:hover{
    color: #00a692;
}

.body-footer .footer {
    background-color: #262626;
    height: 20vh;
    margin: 0px;
    min-height: 331px;
    min-width: 1220px;
    mix-blend-mode: normal;
    overflow: hidden;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }

.body-footer .footer-title{
    font-size: 20px;
    font-weight: bold;
    color: white;
}
  
.body-footer .about-us-title {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: calc(100.00% - 6px);
  }
.body-footer .footer .about-us-subtitle{
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 40px;
    white-space: nowrap;
    width: calc(100.00% - 8px);
  }
.body-footer .footer .affiliates-QxQr1H {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 88px;
    white-space: nowrap;
    width: calc(100.00% - 9px);
  }
.body-footer .footer .categorias-footer-OpYFEQ {
    background-color: transparent;
    height: 112px;
    left: calc(50.00% - 355px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% - 122px);
    width: 709px;
  }
.body-footer .footer .drums-ucallr {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 64px;
    white-space: nowrap;
    width: calc(100.00% - 25px);
  }
.body-footer .footer .facebook-icon-dJH0wx {
    background-color: transparent;
    height: 16px;
    left: calc(50.00% + 32px);
    position: absolute;
    top: calc(50.00% - 8px);
    width: 16px;
  }
.body-footer .footer .facebook-icon-footer-OTbdFk {
    background-color: transparent;
    height: 16px;
    left: calc(50.00% - 8px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% - 8px);
    width: 16px;
  }
.body-footer  .footer-background{
    background-color: #262626;
    bottom: 0px;
    height: 331px;
    left: 0px;
    mix-blend-mode: normal;
    position: absolute;
    width: 100%;
  }
.body-footer  .footer .footer-icons-group-GWI0ft {
    background-color: transparent;
    height: 16px;
    left: 0px;
    position: relative;
    top: 0px;
    width: 96px;
  }
.body-footer  .footer .for-students-SiBJct {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: calc(100.00% - 4px);
  }
.body-footer .footer .for-teachers-FhKgCF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: calc(100.00% - 15px);
  }
.body-footer .footer .frame-footer-icons-OpYFEQ {
    background-color: transparent;
    height: 16px;
    left: calc(50.00% - 48px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% + 62px);
    width: 96px;
  }
.body-footer .footer .gift-card-SiBJct {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 64px;
    white-space: nowrap;
    width: calc(100.00% - 13px);
  }
.body-footer .footer .group-204-D6atBk {
    background-color: transparent;
    height: 112px;
    left: 0px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 623px);
  }
.body-footer .footer .group-205-D6atBk {
    background-color: transparent;
    height: 112px;
    left: 186px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 557px);
  }
.body-footer .footer .group-206-D6atBk {
    background-color: transparent;
    height: 88px;
    left: 407px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 595px);
  }
.body-footer .footer .group-207-D6atBk {
    background-color: transparent;
    height: 112px;
    left: 579px;
    position: absolute;
    top: 0px;
    width: calc(100.00% - 571px);
  }
.body-footer .footer .guitar-ucallr {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 40px;
    white-space: nowrap;
    width: calc(100.00% - 25px);
  }
.body-footer .footer .how-to-sell-FhKgCF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 88px;
    white-space: nowrap;
    width: calc(100.00% - 23px);
  }
.body-footer .footer .instagram-icon-dJH0wx {
    background-color: transparent;
    height: 15px;
    left: calc(50.00% - 7px);
    position: absolute;
    top: calc(50.00% - 7px);
    width: 15px;
  }
.body-footer .footer .instagram-icon-footer-S0S0jP {
    background-color: transparent;
    height: 15px;
    left: calc(50.00% - 8px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% - 8px);
    width: 16px;
  }
.body-footer .footer .musicorum-2021-VeQGn1 {
    background-color: transparent;
    color: #ffffffb2;
    font-family: var(--font-family-manrope);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: 400;
    height: auto;
    left: calc(50.00% - 51px);
    letter-spacing: 0.00px;
    line-height: 16px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: calc(50.00% - 8px);
    white-space: nowrap;
    width: auto;
  }
.body-footer .footer .piano-ucallr {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 88px;
    white-space: nowrap;
    width: calc(100.00% - 26px);
  }
.body-footer .footer .press-QxQr1H {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 64px;
    white-space: nowrap;
    width: calc(100.00% - 12px);
  }
.body-footer .registo-marca-footer {
    background-color: transparent;
    height: 16px;
    left: calc(50.00% - 51px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% + 108px);
    width: 102px;
  }
.body-footer .footer .sellers-faq-FhKgCF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 64px;
    white-space: nowrap;
    width: calc(100.00% - 23px);
  }
.body-footer .footer .students-faq-SiBJct {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 40px;
    white-space: nowrap;
    width: calc(100.00% - 8px);
  }
.body-footer .footer .terms-and-conditions-FhKgCF {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 24px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 40px;
    white-space: nowrap;
    width: calc(100.00% - 6px);
  }
.body-footer .footer .top-categories-ucallr {
    background-color: transparent;
    height: auto;
    left: 0px;
    letter-spacing: 0.00px;
    line-height: 40px;
    mix-blend-mode: normal;
    position: absolute;
    text-align: left;
    top: 0px;
    white-space: nowrap;
    width: calc(100.00% - 6px);
  }
.body-footer .footer .twiiter-icon-dJH0wx {
    background-color: transparent;
    height: 14px;
    left: calc(50.00% - 48px);
    position: absolute;
    top: calc(50.00% - 7px);
    width: 17px;
  }
.body-footer .footer .twitter-icon-footer-7qkrV0 {
    background-color: transparent;
    height: 14px;
    left: calc(50.00% - 9px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% - 7px);
    width: 18px;
  }
  
.body-footer .twitter-icon:hover, .instagram-icon:hover, .facebook-icon:hover{
    transform: scale(1.1);
    color: #00a692;
  }

.body-footer .footer-zindex{
    z-index: 999;
  }