.mylessons-section{
    max-width: 745px !important;
    margin-left: -20px;
    border-style: none;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.card-mylessons{
    border: 0px solid black;  
    max-width: 18rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
    margin: 20px;
}

.card-mylessons img{
    max-width: 18rem;

}

.subtitle-card-mylessons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between !important;
	align-items: center;
	align-content: center;
}
