@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Manrope:400,700,600|Playfair+Display:400,700,600,900");

.body-mylessons{
    margin: 0;
    padding: 0;
}

.body-mylessons .mylessons-section{
    min-width: 745px !important;
    margin-left: -20px;
    margin-top: 40px !important;
    border-style: none;
}

.body-mylessons .card-mylessons{
    border: 0px solid black;  
    max-width: 18rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.body-mylessons .card-mylessons img{
    max-width: 18rem;

}

.body-mylessons .subtitle-card-mylessons{
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between !important;
	align-items: center;
	align-content: center;
}