.body-navbar{
    font-family: "Playfair Display";
    background-color: #262626;
    z-index: 9999999;
}

@font-face {
    font-family: "Playfair Display";
    src:  url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

:root {
    --cor-fundo: #262626;
    --cor-hover: #00a692;
    --cor-primaria: rgb(231, 241, 236);
}

.body-navbar .row{
    min-height: 600px !important;
}

.body-navbar p{
    color: white;
}

.body-navbar .nav-new{
    height: 104px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.body-navbar .MuiSvgIcon-root{
    color: #fff;
    font-size: 25px !important;
}

.body-navbar .text-nav, .body-navbar .nav-link{
    color: #fff !important;
    margin-left: 40px;
    text-decoration: none;
}

.body-navbar .teach-lessons{
    color: #fff !important;
    margin-left: 145px;
    text-decoration: none;
    margin-top: 13px;
    font-size: 13px;
    color: #00a692 !important;
    font-weight: bolder;
}

.body-navbar .lessons{
    margin-top: 10px;
}

.body-navbar .text-nav:hover{
    transform: scale(1.1);
    color: #00a692 !important;
}

.body-navbar #basic-nav-dropdown{
    color: #fff !important;
    margin-left: 20px;
    margin-right: -80px;
    font-size: 16px;
}

.body-navbar #basic-nav-dropdown:hover{
    transform: scale(1.1);
    color: #00a692 !important;
}

.body-navbar .dropdown-toggle, .body-navbar .nav-link{
    margin-top: 3px;
}

.body-navbar .dropdown-toggle::after, .body-navbar .nav-link::after{
    display: none;
}

.body-navbar .dropdown-menu, .body-navbar .show{
    background-color: #262626 !important;
    z-index: 1;
}

.body-navbar .nav-item, .body-navbar .show .dropdown{
    z-index: 1;
}

.body-navbar .dropdown-menu{
    z-index: 9999;
}

.body-navbar .nav-item, .body-navbar .dropdown{
    background-color: transparent !important;
}

.body-navbar .drop-text{
    margin-left: 0px;
}

.body-navbar .dropdown-item.active, .body-navbar .dropdown-item:active {
    background-color: #00a692;
}

.body-navbar .drop-text:hover, .body-navbar .dropdown-item:hover{
    background-color: #3b3b3bb2 !important;
    width: 92%;
    margin-left: 7.5px;
}

.body-navbar .search{
    border-style: none;
    margin-top: 20px;
    margin-left: 415px;
    position: absolute;
}

.body-navbar .mr-sm-2, .body-navbar  .form-control {
    width: 380px;
    height: 42px;
    color: white;
    border-radius: 20px;
}

.body-navbar .mr-sm-2{
    background-color: #3b3b3bb2;
    margin-right: -85px;
}

.body-navbar input {
    padding-left: 60px;
}

.body-navbar .mr-sm-2:hover{
    border: 1px solid #00a692;
}

.body-navbar input:focus {
    box-shadow: none !important;
    border: 1px solid #00a692 !important;
}

.body-navbar .form-control:focus{
    border: #fff;
    box-shadow: #00a692 !important;
}

.body-navbar .body-navbar .mr-sm-2:focus{
    border: 1px solid #00a692;
    background-color: #3b3b3bb2;
    text-align: center;
    color: white;
}

.body-navbar .mr-sm-2:active{
    outline-style: none;
}

.body-navbar .mr-sm-2::placeholder{
    text-align: center;
    margin-left: 30px;
}

.body-navbar .MuiSvgIcon-root {
    margin-top: -60px;
    margin-right: 230px;
}

.body-navbar .logo{
    width: 100%;
}

.body-navbar .logo:hover{
    transform: scale(1.1);
}

.body-navbar .a-logo{
    width: 16%;
}

.body-navbar .buy-car{
    color: white;
    size: 12px;
    margin-right: 25px;
}

.body-navbar .buy-car:hover{
    transform: scale(1.1);
    color: #00a692;
}

.body-navbar .login-user{
    color: white;
    font-size: 30px !important;
    margin-right: 0px;
    border-radius: 100%;
    max-width: 30px !important;
    max-height: 30px !important;
    min-width: 30px;
    min-height: 30px;
}

.body-navbar .login-user:hover{
    transform: scale(1.1);
    color: #00a692;
}

.body-navbar .user{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    position: relative;
}

.body-navbar .icons{
    margin-top: 20px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;

}

.body-navbar .welcome{
    font-size: 13px;
}

.body-navbar .dp-menu ul {
    list-style-type: none;
    padding: 0;
    z-index: 999999;
}

.body-navbar .dp-menu ul {
    background-color: var(--cor-fundo);
    z-index: 999999;
}

.body-navbar .dp-menu ul li {
    display: inline;
    position: relative;
    z-index: 999999;
}

.body-navbar .dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
    z-index: 999999;
}

.body-navbar .dp-menu a:hover {
    color: var(--cor-hover);
    z-index: 999999;
}

/*sub menu*/
.body-navbar .dp-menu ul ul {
    display: none;
    left: -100px;
    position: absolute;
    z-index: 999999 !important;
}

.body-navbar .dp-menu ul li:hover ul {
    display: block;
    z-index: 999999 !important;
}

.body-navbar .dp-menu ul ul {
    width: 150px;
    z-index: 999999 !important;
}

.body-navbar .dp-menu ul ul li a {
    display: block;
    z-index: 999999 !important;
}

.body-navbar .logout{
    background-color: transparent;
    color: white;
    border-style: none;
}

.body-navbar .logout:hover{
    background-color: transparent;
    color: #00a692;
    border-style: none;
}
