body{
    font-family: "Manrope";
}

@font-face {
    font-family: "Manrope";
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.row{
    min-height: 600px !important;
}

.nav-new{
    height: 104px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: space-between;
}

.container{
    width: 99.9% !important;
    margin-top: -10px;
}

.MuiSvgIcon-root{
    color: #fff;
    font-size: 25px !important;
}

.text-nav, .nav-link{
    color: #fff !important;
    margin-left: 40px;
}

.lessons{
    margin-top: 10px;
}

.text-nav:hover{
    transform: scale(1.1);
    color: #00a692 !important;
}

#basic-nav-dropdown{
    color: #fff !important;
    margin-left: 20px;
    margin-right: -80px;
    font-size: 16px;
}

#basic-nav-dropdown:hover{
    transform: scale(1.1);
    color: #00a692 !important;
}

.dropdown-toggle, .nav-link{
    margin-top: 3px;
}

.dropdown-toggle::after, .nav-link::after{
    display: none;
}

.dropdown-menu, .show{
    background-color: #262626 !important;
    z-index: 1;
}

.nav-item, .show .dropdown{
    z-index: 1;
}

.dropdown-menu{
    z-index: 1;
}

.nav-item, .dropdown{
    background-color: transparent !important;
}

.drop-text{
    margin-left: 0px;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #00a692;
}

.drop-text:hover, .dropdown-item:hover{
    background-color: #3b3b3bb2 !important;
    width: 92%;
    margin-left: 7.5px;
}

.search{
    border-style: none;
}
.mr-sm-2, .form-control {
    width: 380px;
    height: 42px;
    color: white;
    border-radius: 20px;
}

.mr-sm-2{
    margin-left: 200px;
    background-color: #3b3b3bb2;
    margin-right: -85px;
}

.mr-sm-2:hover{
    border: 1px solid #00a692;
}
/* 
input {
    border: none !important
} */

input:focus {
    box-shadow: none !important;
}

.form-control:focus{
    border: #fff;
    box-shadow: #00a692 !important;
}

.mr-sm-2:focus{
    border: 1px solid #00a692;
    background-color: #3b3b3bb2;
    text-align: center;
    color: white;
}

.mr-sm-2:active{
    outline-style: none;
}

.mr-sm-2::placeholder{
    text-align: center;
}

.lupa{
    margin-right: 40px;
    position: absolute;
}

.logo{
    width: 100%;
}

.logo:hover{
    transform: scale(1.1);
}

.a-logo{
    width: 16%;
}

.buy-car{
    color: white;
    size: 12px;
    margin-right: 25px;
}

.buy-car:hover{
    transform: scale(1.1);
    color: #00a692;
}

.login-user{
    color: white;
    font-size: 30px !important;
    margin-right: 0px;
}

.login-user:hover{
    transform: scale(1.1);
    color: #00a692;
}