.body-profile{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: baseline;
	align-content: stretch;
	background-color: transparent;
    height: auto;
    left: calc(50.00% - 612px);
    mix-blend-mode: normal;
    top: calc(50.00% + 104px);
    width: 704px;
    text-align: left;
    font-family: "Playfair";
    border: 1px solid #a3a3a3;
    padding: 20px;
    border-radius: 18px !important;
}

