.body-search{
    z-index: 1;
    height: 600px;
}

.body-search .subtitles {
    font-weight: 900;
    font-size: 20px;
}

.body-search .card{
    max-height: 450px !important;
    min-height: 450px !important;
    box-shadow: 1px 3px 14px 1px rgba(0,0,0,0.46);
    border-radius: 18px;
}