@font-face {
    font-family: "Playfair Display";
    src:  url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}

.body-signup{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-family: "Playfair Display" !important;
}

.MuiTabs-root{
    z-index: 999 !important;
    position: absolute;
    width: 340px !important;
}

.MuiTabs-flexContainer {
    display: flex;
    justify-content: space-around !important;
}

.MuiPaper-root{
    z-index: 10 !important;
}

.MuiTabs-root button:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.MuiTabs-indicator, .PrivateTabIndicator-colorPrimary-2, .PrivateTabIndicator-root-1{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border: none;
    transition: none;
}

.PrivateTabIndicator-colorPrimary-2 {
    background-color: transparent !important;
}

.MuiTab-textColorPrimary.Mui-selected {
    margin: 8px 0 !important;  
    background-color: #00a692 !important;
    border-radius: 6px;
    height: 40px;
    transition: all 0.2s ease;
    width: 160px !important;
    color: white !important;
}

.MuiTab-root {
    min-width: 100px !important;
    font-family: "Playfair Display" !important;
}

.MuiFormLabel-root{
    font-family: "Playfair Display" !important;
    /* border: 1px solid #ccc !important; */
}

.MuiTypography-caption {
    font-size: 14px;
    font-family: "Playfair Display" !important;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.03333em;
}

.MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 2px solid #00a692 !important;
    pointer-events: none;
}

.MuiFormLabel-root.Mui-focused {
    color: #00a692 !important;
}

.MuiTypography-body1 {
    font-size: 14px !important;
    font-family: "Playfair Display" !important;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}

.body-signup .background-login{
    background-color: transparent;
    height: 632px;
    left: -122px;
    mix-blend-mode: normal;
    position: absolute;
    top: 62px;
    width: 528px;
}
.body-signup #paper_style {
    background-color: rgba(250, 250, 250, 0.2);
    left: calc(50.00% - 228px);
    mix-blend-mode: normal;
    position: absolute;
    top: calc(50.00% - 228px);
    width: 456px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 1px 3px 14px 1px rgba(0,0,0,0.46);
    font-family: "Playfair Display";
}

.body-signup .title-signup{
    color: #262626;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}

.body-signup h2{
    margin: 0;
}

.body-signup #avatar_style{
    background-color: #00a692;
    box-shadow: 1px 3px 14px 1px rgba(0,0,0,0.46);
}

.body-signup .MuiInputBase-input{
    background-color: transparent;
    border-radius: 8px;
    height: 49px;
    left: 0px;
    mix-blend-mode: normal;
    top: 0px;
    width: 392px;
}

.body-signup .ellipse1{
    background-color: transparent;
    height: 666px;
    left: -14px;
    mix-blend-mode: normal;
    position: absolute;
    top: 190px;
    width: 666px;
}

.body-signup .ellipse2{
    background-color: transparent;
    height: 577px;
    left: -124px;
    mix-blend-mode: normal;
    position: absolute;
    top: -24px;
    width: 577px;
}

.body-signup .btn-signup{
    margin: 8px 0 !important;  
    background-color: #00a692 !important;
    border-radius: 6px;
    height: 40px;
    transition: all 0.2s ease;
    width: 240px;
    color: white;
}

.body-signup .btn-signup:hover{
    transform: scale(1.1);
}